button.accordion  {
    background-color:darkblue;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color:white;
    max-height: 0px;
    min-height:0px;
 border-radius: 10px;
    overflow: scroll;
    
    transition: max-height 0.2s ease-out;
}


div.panel li {
text-align: left;
color: black;
margin-left:20px;
}
